@import './variables';
@import './font';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary;
  font-weight: $font-regular;
  font-size: $font-size-base;
  line-height: 1.5;
  color: $primary-blue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-primary;
  font-weight: $font-semibold;
}

.pageTitle {
  font-size: $font-size-3xl;
  font-weight: $font-semibold;
}

input,
select,
button {
  font-family: $font-family-primary;
}
