$primary-red: #d52f39;
$primary-blue: #081237;

$primary-red-light: rgba($primary-red, 0.05);
$primary-blue-shadow: rgba($primary-blue, 0.1);

$background-light: #f5f5f7;
$border-color: #ddd;
$text-gray: #666;
$white: #fff;
$primary-dark-blue: #003366;
$primary-dark-red: #990000;
